{% extends "base.html" %}

{% block content %}

{% if pagination %}
    {% for blog,comments,likes in pagination.items %}
    <a href="{{ url_for('blog', blog_id=blog.BlogID) }}" style="color:#ff0000;">{{ blog.BlogTitle }}</a>
    &nbsp;&nbsp;&nbsp;<font size=2><a href="{{url_for('delete_collection',blog_id=blog.BlogID,page=pagination.page)}}" style="color:black">[DELETE]</a></font>
    <p style="color:#ff6600;">{{ blog.BlogContent[:100]+"..." }}</p>
    <font size="2"><p style="color:#4c4c4c;">Views:{{blog.PageViews}} | Comments:{{comments}} | Likes:{{likes}} | {{ blog.PublishDate }}</p></font>
    <hr />
    {% endfor %}

    {% if pagination.has_prev %}
    <a href="{{ url_for('collection', page=pagination.prev_num) }}"><< prev</a>
    {% else %}
    << None
    {% endif %} | 
    {% if pagination.has_next %}
    <a href="{{ url_for('collection', page=pagination.next_num) }}">next >></a>
    {% else %}
    None >>
    {% endif %}

{% endif %}
{% endblock %}
