{% extends "base.html" %}

{% block content %}

{% if not current_user.is_authenticated %}
<h1>Hi</h1>
{% else %}
<h1>Welcome back, {{ current_user.UserName }}!</h1>
{% if blog %}
<h2>Recent blogs you are following:</h2>
<hr/>
{% endif %}
{% endif %}

{% for blog,auther,comments,likes in infos %}
    <a href="{{ url_for('blog', blog_id=blog.BlogID) }}" style="color:#ff0000;">{{ blog.BlogTitle }}</a>
    <p style="color:#ff6600;">{{ blog.BlogContent[:100]+"..." }}</p>
    <font size="2"><p style="color:#4c4c4c;">Auther:<a href={{url_for('users', user_id=blog.PublisherID)}}>{{auther}}</a>&nbsp;&nbsp;&nbsp;Views:{{blog.PageViews}} | Comments:{{comments}} | Likes:{{likes}} | {{ blog.PublishDate.strftime("%a, %d %b %Y %H:%M:%S") }}</p></font>
    <hr/>
{% endfor %}
{% endblock %}

